.cardsExample {
  display: flex;
  flex-direction: row;
  grid-area: 10px;
  flex-wrap: wrap;
  gap: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}

.headerPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
}
